@model IEnumerable<ufrSet.Models.Pers>

@{
    ViewData["Title"] = "UfrSET - Pers";
}

<h1>Listes du Personnel Enseignant</h1>

@foreach (var item in Model)
{

    <div class="card"  >
        <div class="card-body">

            <p>
                <span class="glyphicon glyphicon-user"></span>
                @Html.DisplayFor(modelItem => item.Name)
            </p>
            <p>
                <span class="glyphicon glyphicon-envelope"></span>
                @Html.DisplayFor(modelItem => item.Email)
            </p>
            <p>
                <span class="glyphicon glyphicon-briefcase"></span>
                @Html.DisplayFor(modelItem => item.profession)
            </p>

        </div>
    </div>
}