
@{
    ViewData["Title"] = "Li";
}


<div class="flex justify-center h-50">
  <div class="block p-6 rounded-lg shadow-lg bg-white max-w-sm">
        <center><h5 class="text-gray-900 text-xl leading-tight font-medium mb-2">Département Informatique</h5></center>
   
  </div>
</div>

<!--Portion2-->
<div class="accordion" id="accordionExample">
    <div class="accordion-item bg-white border border-gray-200">
        <h2 class="accordion-header mb-0" id="headingOne">
            <button class="
        accordion-button
        relative
        flex
        items-center
        w-full
        py-4
        px-5
        text-base text-gray-800 text-left
        bg-white
        border-0
        rounded-none
        transition
        focus:outline-none
      " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                Présentation du département
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
             data-bs-parent="#accordionExample">
            <div class="accordion-body py-4 px-5">
                <strong>This is the first item's accordion body.</strong> It is shown by default,
                until the collapse plugin adds the appropriate classes that we use to style each
                element. These classes control the overall appearance, as well as the showing and
                hiding via CSS transitions. You can modify any of this with custom CSS or overriding
                our default variables. It's also worth noting that just about any HTML can go within
                the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div>
    <div class="accordion-item bg-white border border-gray-200">
        <h2 class="accordion-header mb-0" id="headingTwo">
            <button class="
        accordion-button
        collapsed
        relative
        flex
        items-center
        w-full
        py-4
        px-5
        text-base text-gray-800 text-left
        bg-white
        border-0
        rounded-none
        transition
        focus:outline-none
      " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                    aria-controls="collapseTwo">
                Licence
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
             data-bs-parent="#accordionExample">
            <div class="accordion-body py-4 px-5">
                <p>
                    <strong> Objectifs :</strong> <br />

                    La licence en Informatique a pour objectif général de former des
                    techniciens supérieurs en informatique.

                    Plus spécifiquement, il s’agit de former :<br />
                    • Des techniciens supérieurs en réseau et télécom<br />
                    • Des techniciens supérieurs en génie logiciel

                    Elle a ainsi pour vocation de   donner aux étudiants une connaissance
                    théorique, technique et pratique du monde de l’informatique et de leur
                    fournir une ouverture sur les évolutions technologiques.
                </p>

                <p>
                    <strong>Compétences :</strong> <br />

                    A l’issue de leur formation, les étudiants seront capables de :
                    <ul>
                        <li>
                            Mettre en place, administrer et gérer une infrastructure réseau
                            sécurisée ;
                        </li>
                        <li>
                            Mettre en place, administrer et gérer les services courants des réseaux
                            locaux ;
                        </li>
                        <li>
                            Assister un projet de mise en place d’infrastructures réseaux
                            informatiques;
                        </li>
                        <li>
                            Assurer le support aux utilisateurs et la maintenance du parc
                            informatique.
                        </li>
                        <li>
                            Développer des applications web.
                        </li>
                    </ul>

                </p>
               
            </div>
        </div>
    </div>


    <div class="accordion-item bg-white border border-gray-200">
        <h2 class="accordion-header mb-0" id="headingThree">
            <button class="
        accordion-button
        collapsed
        relative
        flex
        items-center
        w-full
        py-4
        px-5
        text-base text-gray-800 text-left
        bg-white
        border-0
        rounded-none
        transition
        focus:outline-none
      " type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree">
                Master
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
             data-bs-parent="#accordionExample">
            <div class="accordion-body py-4 px-5">
                <p>
                    <strong>Objectif général :</strong>
                    Le master en Informatique a pour objectif général de former des ingénieurs en informatique capable de concevoir des architectures réseaux sécurisées
                </p>
                <p>

                    <strong>Objectifs spécifiques :</strong>
                    Plus spécifiquement elle a ainsi pour vocation de donner aux étudiants des connaissances approfondies en réseaux et en sécurité informatique et de leur fournir une ouverture sur les évolutions technologiques.

                </p>
            
                <h3>
                    Option: <i>Génie Logiciel.</i>
                </h3>
                <strong>Compétences :</strong>

                A l’issue de leur formation, les étudiants devront être capables de :

                 <ul>
                    <li> Spécifier, concevoir, mettre en place des solutions mettant en œuvre des technologies informatiques au service des organisations ;</li>
                    <li>
                        Produire et assurer la maintenance des applications destinées au système d’information de l’entreprise ;
                    </li>
                    <li>Comprendre, analyser et définir les besoins des organisations en technologies de l’information ;</li>
                    <li> Structurer, planifier et gérer des projets informatiques ;</li>
                    <li>  Développer des applications innovantes adaptées aux besoins du client ;</li>
                </ul>

             

                <h3>
                    Option: <i>Réseaux et Télécommunications.</i>
                </h3>

                <strong>Compétences :</strong>

                A l’issue de leur formation, les étudiants devront être capables de :

                <ul>
                    <li> Analyser les problèmes de sécurité dans un réseau informatique</li>
                    <li> Rédiger les politiques de sécurité pour un système</li>
                    <li>  Gérer et optimiser des réseaux informatiques ;</li>
                    <li> Sécuriser des réseaux informatiques ;</li>
                    <li>Configurer et administrer des services réseaux informatiques.</li>

                </ul>

                <h3>
                    Option: <i>SmartTech</i>
                </h3>

                <strong>Compétences :</strong>

                A l’issue de leur formation, les étudiants devront être capables de :

                <ul>
                    <li> Analyser les problèmes de sécurité dans un réseau informatique</li>
                    <li> Rédiger les politiques de sécurité pour un système</li>
                    <li>  Gérer et optimiser des réseaux informatiques ;</li>
                    <li> Sécuriser des réseaux informatiques ;</li>
                    <li>Configurer et administrer des services réseaux informatiques.</li>

                </ul>

            
            </div>
        </div>
    </div>
</div>

<!--Fin -->



<ul class="
  background-color: grey
  nav nav-tabs nav-justified
  flex flex-col
  md:flex-row
  flex-wrap
  list-none
  border-b-2
  pl-0
  mb-4
" id="tabs-tabJustify" role="tablist">
    <li class="nav-item flex-grow text-center" role="presentation">
        <a href="#tabs-homeJustify" class="
      nav-link
      w-full
      block
      font-medium
      text-xs
      leading-tight
      uppercase
      border-x-0 border-t-0 border-b-2 border-transparent
      px-6
      py-3
      my-2
      hover:border-transparent hover:bg-gray-100
      focus:border-transparent
      active
    " id="tabs-home-tabJustify" data-bs-toggle="pill" data-bs-target="#tabs-homeJustify" role="tab"
           aria-controls="tabs-homeJustify" aria-selected="true">Admission</a>
    </li>
    <li class="nav-item flex-grow text-center" role="presentation">
        <a href="#tabs-profileJustify" class="
      nav-link
      w-full
      block
      font-medium
      text-xs
      leading-tight
      uppercase
      border-x-0 border-t-0 border-b-2 border-transparent
      px-6
      py-3
      my-2
      hover:border-transparent hover:bg-gray-100
      focus:border-transparent
    " id="tabs-profile-tabJustify" data-bs-toggle="pill" data-bs-target="#tabs-profileJustify" role="tab"
           aria-controls="tabs-profileJustify" aria-selected="false">Débouchés</a>
    </li>
    <li class="nav-item flex-grow text-center" role="presentation">
        <a href="#tabs-messagesJustify" class="
      nav-link
      w-full
      block
      font-medium
      text-xs
      leading-tight
      uppercase
      border-x-0 border-t-0 border-b-2 border-transparent
      px-6
      py-3
      my-2
      hover:border-transparent hover:bg-gray-100
      focus:border-transparent
    " id="tabs-messages-tabJustify" data-bs-toggle="pill" data-bs-target="#tabs-messagesJustify" role="tab"
           aria-controls="tabs-messagesJustify" aria-selected="false">Débouchés</a>
    </li>
</ul>
<div class="tab-content" id="tabs-tabContentJustify">
    <div class="tab-pane fade show active" id="tabs-homeJustify" role="tabpanel"
         aria-labelledby="tabs-home-tabJustify">
         <strong>Licence</strong> <br />
        En Licence 1 : Être orienté par CAMPUSEN pour les nouveaux bacheliers.<br />
        En Licence 2 et 3 : Par sélection de dossier et sous réserve de validation des
        niveaux inférieurs par l’équipe pédagogique.<br /><br />
        <strong>Master</strong><br />
        Peut s’inscrire au Master 1, en formation initiale et dans la limite des places disponibles, le candidat titulaire :<br />

        d’une licence en informatique ou en réseaux et télécommunications ;<br />
        d’une licence dans un domaine compatible avec celui du master ;<br />
        d’un diplôme admis en équivalence.<br />
        Peut s’inscrire au Master 2 :<br />
        l’étudiant ayant validé le Master 1 ;<br />
        l’étudiant titulaire d’une maîtrise compatible avec le domaine du master.<br />
        L’admission se fait par examen de dossier et éventuellement
        après entretien avec le candidat.<br />
        L’inscription est accordée après avis du Conseil pédagogique
        compétent
    </div>

    <div class="tab-pane fade" id="tabs-profileJustify" role="tabpanel" aria-labelledby="tabs-profile-tabJustify">
        Les principaux métiers visés sont ceux liés à la programmation des
        systèmes, le développement logiciel et de services orientés web, la gestion des
        bases de données, la conception et la planification des réseaux informatiques,
        ainsi que la sécurité des réseaux informatiques.
        Ainsi, à l’issue de leur formation, les étudiants seront opérationnels et ils
        pourront entrer dans la vie active comme :

        <h4>Option : Réseaux et télécoms</h4>

        • Technicien en sécurité informatique ;<br />
        • Technicien en maintenance informatique ;<br />
        • Administrateur Réseaux et Systèmes ;<br />
        • Technicien Support.<br />
        • assistant du chef de projet informatique dans les grandes
        organisations ou sociétés en informatique;<br />
        • technico-commercial.

        <h4> Option : Génie logiciel</h4>

        développeur (analyste-programmeur /concepteur / responsable
        d’études) ;<br />
        • analyste d’exploitation ;<br />
        • concepteur de système d’information ;<br />
        • web designer ;<br />
        • assistant du chef de projet informatique dans les grandes
        organisations ou sociétés en informatique;<br />
        • administrateur de base de données ;<br />
        • administrateur systèmes ;<br />
        • technico-commercial.<br />
        A l’issue de la formation, les étudiants pourront également poursuivre des
        études en Master de spécialité Informatique ou Réseaux &
        Télécommunications.
    </div>


    <div class="tab-pane fade" id="tabs-profileJustify" role="tabpanel" aria-labelledby="tabs-profile-tabJustify">
        Les principaux métiers visés sont ceux liés à la programmation des
        systèmes, le développement logiciel et de services orientés web, la gestion des
        bases de données, la conception et la planification des réseaux informatiques,
        ainsi que la sécurité des réseaux informatiques.
        Ainsi, à l’issue de leur formation, les étudiants seront opérationnels et ils
        pourront entrer dans la vie active comme :

        <h4>Option : Réseaux et télécoms</h4>

        • Technicien en sécurité informatique ;<br />
        • Technicien en maintenance informatique ;<br />
        • Administrateur Réseaux et Systèmes ;<br />
        • Technicien Support.<br />
        • assistant du chef de projet informatique dans les grandes
        organisations ou sociétés en informatique;<br />
        • technico-commercial.

        <h4> Option : Génie logiciel</h4>

        développeur (analyste-programmeur /concepteur / responsable
        d’études) ;<br />
        • analyste d’exploitation ;<br />
        • concepteur de système d’information ;<br />
        • web designer ;<br />
        • assistant du chef de projet informatique dans les grandes
        organisations ou sociétés en informatique;<br />
        • administrateur de base de données ;<br />
        • administrateur systèmes ;<br />
        • technico-commercial.<br />
        A l’issue de la formation, les étudiants pourront également poursuivre des
        études en Master de spécialité Informatique ou Réseaux &
        Télécommunications.
    </div>

</div>