@model IEnumerable<ufrSet.Models.Administration>

@{
    ViewData["Title"] = "UfrSET - Administration";
}







   
@foreach (var item in Model) {

    <div class="card dep" >
        <div class="card-body">

           <p>
                    <span class="glyphicon glyphicon-user"></span>
                            @Html.DisplayFor(modelItem => item.Name)
            </p>
                <p>   
            <span class="glyphicon glyphicon-envelope"></span>
            @Html.DisplayFor(modelItem => item.Email)
            </p>
               <p>
                <span class="glyphicon glyphicon-briefcase"></span>
                @Html.DisplayFor(modelItem => item.Profession)
               </p>
                    
                
           
        </div>
    </div>
}
  
      
